.about {
  list-style: none;
  display: flex;
}

.about__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;

  position: relative;
  overflow: hidden;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.about__overlay-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  bottom: 0;
  height: 70px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  background-color: rgba(47, 48, 58, 0.8);
}
