.mob-menu {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100vw;
    height: 100vh;

    padding: 48px 40px;

    background-color: #ffffff;
    transform: translateX(-100%);
    transition: translate var(--transition-duration) var(--transition-timing);

    &.is-hidden {
      transform: translate(0);
    }
  }
}

.menu-open-btn {
  cursor: pointer;

  display: block;

  margin-left: auto;
  padding: 0;

  border: none;
  background-color: transparent;
  fill: #212121;
  transition: fill var(--transition-duration) var(--transition-timing);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-close-btn {
  display: block;

  position: absolute;
  top: 10px;
  right: 15px;

  cursor: pointer;

  margin-left: auto;
  margin-bottom: 8px;
  padding: 0;

  border: none;
  background-color: transparent;
  fill: #212121;
  transition: fill var(--transition-duration) var(--transition-timing);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

// .no-scroll {
//   overflow: hidden;
// }
