:root {
  --main-title-color: #212121;
  --accent-color: #2196f3;
  --logo-header-color: #000000;
  --main-text-color: #757575;
  --hero-title-color: #ffffff;
  --hero-section-bgc: #2f303a;
  --team-section-bgc: #f5f4fa;
  --footer-bgc: #2f303a;
  --logo-footer-color: #ffffff;
  --team-card-bg-color: #ffffff;
  --team-soc-icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
